# Brincando com o CHATGPT

In [8]:
import requests
import pandas as pd
inflacao_url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados?formato=json'
selic_url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json'
def get_data(url):
    response = requests.get(url)
    data = response.json()
    return data
inflacao_json = get_data(inflacao_url)
selic_json = get_data(selic_url)
inflacao_df = pd.DataFrame(inflacao_json)
selic_df = pd.DataFrame(selic_json)
inflacao_df['data'] = pd.to_datetime(inflacao_df['data'], format='%d/%m/%Y')
inflacao_df.set_index('data', inplace=True)

selic_df['data'] = pd.to_datetime(selic_df['data'], format='%d/%m/%Y')
selic_df.set_index('data', inplace=True)
inflacao_df.rename(columns={'valor': 'inflacao'}, inplace=True)
selic_df.rename(columns={'valor': 'selic'}, inplace=True)
dados_bc = inflacao_df.join(selic_df)

In [9]:
dados_bc

           inflacao     selic
data
1991-01-01    20.27       NaN
1991-02-01    19.62       NaN
1991-03-01    13.45  0.428000
1991-04-01     4.85  0.418333
1991-05-01     8.15       NaN
...             ...       ...
2022-09-01     0.47  0.050788
2022-10-01     0.71       NaN
2022-11-01     0.21  0.050788
2022-12-01     0.74  0.050788
2023-01-01     0.53       NaN

[385 rows x 2 columns]