# Como ler uma planilha de excel?

* Código da aula na descrição

In [2]:
import pandas as pd

In [10]:
dados_petrobras = pd.read_excel(r'/home/brenno/Documentos/videos_youtube/dados_youtube/dados_petro.xlsx',
                               skiprows = 3,
                               na_values = "nd",
                               index_col = "data")

volume_petrobras = pd.read_excel(r'/home/brenno/Documentos/videos_youtube/dados_youtube/dados_petro.xlsx',
                               skiprows = 3,
                               na_values = "nd",
                               index_col = "data",
                                sheet_name = "volume")

volume_petrobras

            volume_em_MM
data
2022-09-13           NaN
2022-09-12   2267.814565
2022-09-09   1588.898586
2022-09-08   2011.363072
2022-09-06   3555.963567
...                  ...
2022-05-20   2697.429409
2022-05-19   2165.226242
2022-05-18   2730.939150
2022-05-17   3107.951524
2022-05-16   3184.449800

[85 rows x 1 columns]